
:root{
  --speed: 500ms;
}


/* import the cursive font for the header of the webpage*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.header{
  text-align: center;
  color:  black;
  font-family: 'Times New Roman', Times, serif;
  font-size:30px;

  @media (max-width: 400px) {
    /* CSS rules for small screens */
    font-size: 15px;
  
  }
  @media (min-width: 400px) and (max-width: 820px) {
    /* CSS rules for medium screens */
    font-size: 20px;
  }
  
}

/* might need to remove*/
.header h1{
  
  margin-top: 15px;
  margin-bottom: 15px;
}

/* nav bar stuff*/

.NavBar-Container{
  background-image: linear-gradient(to right, rgb(39, 39, 39), rgb(99, 99, 99), rgb(39, 39, 39));
  
  

}

.navbar {

  /* Additional styles */
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;


}


.navbar-nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin: auto;


}

.nav-link {
  text-decoration: none;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  color:  rgb(218, 218, 218);

  @media (max-width: 300px) {
    /* CSS rules for small screens */
    font-size: 8px;
  
  }


  @media (min-width: 301px) and (max-width: 400px) {
    /* CSS rules for small screens */
    font-size: 11px;
  
  }

    /* Styles for screens between 321px and 768px */
  @media (min-width: 401px) and (max-width: 820px) {
    /* CSS rules for medium screens */
    font-size: 15px;
  }


}





/*Home page css*/

.main-content {
  background-image: url('../public/Aerial-app-at-Sunris.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Fill entire viewport height */
  width: 100%;
}

.main-content-header{
  margin: 0;
  font-size: 7vw;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: Black;

  font-family: 'Great Vibes', cursive;

 


}


/*product page css*/


/*Gallary page css*/

.image_section{
  display: flex;  
  flex-direction: row;
 margin-top: 1%;
 margin-bottom: 1%;
 margin-left: 5%;
 margin-right: 5%;
 box-shadow: 7px 7px 7px 7px  #0000007a;
 background-image: linear-gradient(to right, #e6e6e6, #303030);
 background-color: rgb(213, 213, 213);






  flex-wrap: wrap;
  
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  border-radius: 10px;
  
  
  
  
}

.image-card img{
  height: 23vh;
  width: 28vh;
  object-fit:cover; 
  border-radius: 10px;
  box-shadow: 7px 7px  #0000007a;
  transition: all 1.5s ease;
}

.inner-image-card{
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: .5vw;
  margin-right: .5vw;

}

.inner-image-card:hover
 {
  transform: scale(1.035);
 }

 .image-header-container{
  display: grid;
  place-items: center;
  
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 1px 1px 1px 1px  #0000007a;
  border-radius: 20px;
  border: 2px solid #153e15;

  

 }



 .imageHeader{
  font-family: 'Times New Roman', Times, serif;
  color: #153e15;
  text-decoration: underline;
  font-size: 3vw;
 }

 .pagination-buttons{
  display: flex;
  justify-content: center;
 
  place-items: center;
  margin-top: 5%;
  margin-bottom: 5%;

 }


 .pagination-button{
  width: 7vh;
  height: 4vw;
  margin-left: .5%;
  margin-right: .5%;
  border-radius: 50%;
  box-shadow: 1px 1px black;

 }
 
 .pagination-button:hover{
  transform: scale(1.2);
  
 }

 .pagination-button.active{
  background-color: #0b5b0e;
  color: white;
 }

 .pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.pop-up-content {
  max-width: 70%;
  
 
  display: flex;
  justify-content: center;

}

.pop-up-content img {
  max-width: 100%;
  max-height: 100%;
 
}

.pop-up-content button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
/* filter button css in gallery page.*/
.filter_button_container{
  display: grid;
  place-items: center;
  
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 30%;
  margin-right: 30%;



 }


 .flex-container:hover{
  background-color: rgb(18, 48, 30);
  color: white
 }

 .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 10px;

  width: 40%;
  height: 5vh;
  
  

  
}

.flex-container span{
  font-size: 1.5vw;
  margin-left: 1%;
  margin-right: 5%;

}

.icon-class{
  
  width: 15%;
  
}

.filter-pop-up{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.filter-content {
  background-color: white;
  width: 30vw;
  
 
  border-radius: 5%;
  border: 5px solid #1e6434;
  transform: .4s;
}
 
.filter-header-container{
  display: flex;
  justify-content: center;
  font-size: 1vw;
  color: #153e15;

}

.checkbox-container{
  display: flex;
  flex-direction:column;
  border-bottom: 2px solid #153e15;
  border-top:2px solid #153e15;
  
  
}

.checkbox-label{
  font-size: 1.5vw;
  font-family:'Times New Roman', Times, serif;
  color: #153e15;;
  
}

.checkbox-content{
  color:#153e15;
  margin: 2%;
}

.filter-close-container{
  width: 100%;
  height: 10vh;
  display:flex;
  justify-content:center;
  align-items: center;
  
  
}

.filter-close{
  
  width: 10vw;
  height: 5vh;
  background-color: darkgrey;
  color:black;
  font-size: 1.5vw;
}

.filter-close:hover{
  transform: scale(1.1);

}